body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 0px;
    border: 1px solid #237ace;
    z-index: 1041;
    left: 99%;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: #6e3694;
    border-color: #6e3694;
    left: 101%;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.edit-button {
    color: #6e3694;
    font-size: 17px;
    z-index: 3;
}

    .edit-button:hover {
        opacity:1;
        color:black;
    }

.delete-button {
    color: black;
    font-size: 17px;
    z-index: 3;
}

    .delete-button:hover {
        color: #aa0000;
    }

/*THIES STYLES ARE FOR THE LOG IN PAGE*/

#EmailForm {
    margin-top: 22.5%;
}

.iptField{
    border-radius: 0px;
}

.pwd-input {
    margin-bottom: 5px !important;
}

.checkbox {
    padding-top: 0px !important;
    margin-left: 60.5%;
}

.bigbox{
    margin-top: 80px;
    margin-bottom: 350px;
}

#loginbtn {
    margin-left: 90px;
    border-radius: 0px !important;
    background-color: #6e3694;
    color: white;
}

#loginbtn:hover {
    background-color: white;
    color: forestgreen;
}

#RememberMe{
    border-radius: 0px !important;
    margin-top: 9px;
}

.TicBoxLabel{
    padding-left: 0px !important;
}

/*Stoppar rounded corners*/
.StopRoundedBorders {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*Bootstrap Menu*/
.navbar-inverse .navbar-brand {
    color: #8eff96;
}
.navbar-inverse .navbar-nav > li > a {
    color: #8eff96;
}
.navbar-user {
    color: #8eff96 !important;
}
/*Bootstrap Menu*/


/*TeacherList*/
.UserList {
    border-style: solid;
    padding: 5px;
    border-width: 1px;
    border-radius: 0px;
    border-color: #696969;
}
.UserListTopButton {
    text-align:right;
    border-radius:0px;
    padding-bottom:5px;
}
.UserListText {
    margin-top: 4px;
    margin-left: 13px;
    float: left;
    font-size: 20px;
    border-radius: 0px;
}
.UserListMainBody {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: #262626;
}


.UserListBottomLeft {
    float: left;
    
}
.UserListBottomRight {
    text-align: right;
}
.StudentListText {
    text-align: left;
    margin-left: 13px;
    font-size: 20px;
    border-radius: 0px;
}
/*TeacherList*/
/*teacher index page*/
.ListBlock {
    background-color: white;
    border: 0px;
    border-radius: 0px;
    height: 100%;
}
.ListCreateButton {
    background-color: #6e3694;
    color:white;
    border-radius: 0px;
    height:100%;
}
    .ListCreateButton:hover {
        background-color: white;
        color: forestgreen;
    }
    .ListCreateButton:focus {
        background-color: #6e3694;
        color: white;
    }
.ListCreateButtonFullList {
    background-color: #6e3694;
    color: white;
    border-radius: 0px;
    border-color:black;
    height: 100%;
}
    .ListCreateButtonFullList:hover {
        background-color: white;
        color: forestgreen;
    }

    .ListCreateButtonFullList:focus {
        background-color: #6e3694;
        color: white;
    }
/*teacher index page*/
/*FullList*/

.FullListTable {
    
}
    .FullListTable:hover {
        background-color: #ffcdab;
    }


.FullListSearchBody {
    /*border-width:1px;
    border-style:solid;
    padding:5px;*/
    float: left;
    margin-bottom: 15px;
}

.FullListTextField {
    border-radius:0px;
    border-color:black;
    
}

.ListButtonFullList {
    border-color: black;
}

.FullStudentListToRow {
    border-top:0px!important;
    border-bottom:2px solid black;
}

.FullStudentListToRow a {
    color: black;
    text-decoration: none;
}
.FullStudentListToRowIn{
    border: 1px solid lightgrey;
}

/*FullList*/
/*Documents*/
.ListRowDoc {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    background-color: white;
}

.ListDateEDDoc {
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    padding:5px;
    display: flex;
    align-items: center;
    vertical-align: central;
}
.ListNameDoc {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    text-align: justify;
    padding: 5px;
    overflow-wrap: break-word;
    color: white;
}
/*Documents*/
/*Course List */

.ListRow {
    margin-bottom: 20px;
    margin-right:0px;
    margin-left: 0px;
    display:flex;
    background-color: white;
}

.ListName {
    background-color: #007234;
    text-align:justify;
    overflow-wrap:break-word;
    color:white;
}
.ListModulName {
    background-color: #EA3D01;
    padding-top:8px;
    text-align: justify;
    overflow-wrap: break-word;
    color: white;
}

.ListActivityName {
    background-color: #0072C5;
    padding-top: 8px;
    text-align: justify;
    overflow-wrap: break-word;
    color: white;
}

.ListDateED {
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    display: flex;
    align-items: center;
    vertical-align: central;
}

.TeacherLink {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.0;
    filter: alpha(opacity=1);
    background-color: white;
    box-sizing: border-box;
}

    .TeacherLink:hover {
        opacity: 0.2;
        background-color: #888888;
        border-color: black;
    }

.TeacherLinkIcon {
    color: black;
    text-decoration: none;
}

    .TeacherLinkIcon:hover {
        color: white;
    }

.TeacherListTable {
    background-color: lightgray;
    margin-top: 21px;
    border-radius: 5px;
}

.CreateButton {
    align-items: center;
    justify-content: center;
    height: 110px;
    text-align: center;
    background-color: forestgreen;
    color: black;
    width: inherit;
}

    .CreateButton:hover {
        background-color: dimgray;
        color: black;
        text-decoration: none;
    }
/*Course List */


/*Student Activity list*/
#StudentActivityList {
    background: #b6ff00;
    border-bottom-left-radius: 20em;
}

.course-module {
    color: white;
    border: 1px solid #2a6fa8;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #358fdc;
}

    .course-module h3 {
        margin-top: 20px;
        padding: 0px;
    }

    .course-module p {
        margin-top: 15px;
    }

.module-accordion-heading:hover {
    cursor: pointer;
}


#alertBox {
    display: none;
}

/*Here Goes Some CSS For the Student Schedule*/

.schedulecol {
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

.ScheduleCell {
    background-color: white;
    color: black;
    min-height: 90px;
    text-align: center;
    font-weight: normal;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: #36454F;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 2px;
    padding-top: 15%;
    padding-right: 4px;
}
.ScheduleCell:last-child{
    margin-bottom: 4px;
}
.mondayCol {
    margin: 5px;
    margin-right: 0px;
    background-color: #EA3D03;
    color: white;
}

.tuesdayCol {
    margin: 5px;
    margin-right: 0px;
    background-color: #0072C6;
    color: white;
}

.wednesdayCol {
    margin: 5px;
    margin-right: 0px;
    background-color: #009E49;
    color: white;
}

.thurdayCol {
    margin: 5px;
    margin-right: 0px;
    background-color: #6e3694;
    color: white;
}

.fridayCol {
    margin: 5px;
    margin-right: 0px;
    background-color: #DD5900;
    color: white;
}

/*Teacher activity*/
.teacher-activity:hover {
    border-color: #bababa;
}

.teacher-activity > div {
    background-color: white;
    border-radius:0px;
}

    .teacher-activity > div:hover {
        background-color: #dddddd;
    }

/*Collapse height fix*/
.collapse.in {
    height: auto !important;
}

.navbar-user {
    line-height: 20px;
    padding: 15px;
    color: #9d9d9d;
}

.ModuleCollapse {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.0;
    filter: alpha(opacity=1);
    background-color: white;
    box-sizing: border-box;
}


/* Fixed* the page from jumping when the modal opens*/
.modal-open {
    overflow-y: hidden !important;
    margin-right: 0px !important;
}
/* *The background does not move but the nav-bar still do  */

/* Styles for Modal and its buttons*/
.modal-content {
    border-radius: 0px !important;
}
.modal-close-btn {
    border-color: #ccc;
    border-radius: 0px !important;
    background-color: #EA3D03;
    color: white;
}

.modal-close-btn:hover {
    background-color: white;
    color: #EA3D03;
}

.modal-accept-btn {
    border-color: #ccc;
    border-radius: 0px !important;
    background-color: forestgreen;
    color: white;
}

.modal-accept-btn:hover {
    border-color: #ccc;
    background-color: white;
    color: forestgreen;
}

.modal-delete-btn {
    border-color: #ccc;
    border-radius: 0px !important;
    background-color: #BA141A;
    color: white;
}

.modal-delete-btn:hover {
    background-color: white;
    color: #BA141A;
}

    /* Document CSS*/
.document-dropdown {
    background-color: #41ad49;
    color: white;
    border-color: #23902b;
    border-radius: 0px;
    height: 100%;
    z-index: 2;
    position: relative;
}

    .document-dropdown:active, .document-dropdown:focus, .document-dropdown:hover {
        background-color: white;
        color: #41ad49;
        border-color: #23902b;
    }

    .document-dropdown > .badge {
        color: #41ad49 !important;
        background-color: white !important;
    }

    .document-dropdown:hover > .badge {
        background-color: #41ad49 !important;
        color: white !important;
    }

    .document-dropdown:focus > .badge {
        background-color: #41ad49 !important;
        color: white !important;
    }

    .document-dropdown:active > .badge {
        background-color: #41ad49 !important;
        color: white !important;
    }

.module-accordion-div{
    border:none;
    box-shadow:none;
}