body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid #237ace;
    z-index:1041;
    left: 99%;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: #2b97ff;
    left: 101%;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.edit-cog {
    transition: all 0.1s;
    color: black;
    font-size: 20px;
}



/*THIES STYLES ARE FOR THE LOG IN PAGE*/

#EmailForm {
    margin-top: 25%;
}

#loginbtn {
    margin-left: 9rem;
}

/*teacher index page*/

#TeacherCourseList {
    display:block;
    color:black;
    max-width: 700px;
    background-color: lightgray;
    border-radius:5px;
    border-color:black;
    margin-bottom:10px;
    

    
}
    /*teacher index page*/
#TeacherCourseList:hover {
    background-color: dimgray;
    color: black;
    text-decoration: none;
}
    /*teacher index page*/
.TeacherLink {
    color: black;
    text-decoration: none;
}
    /*teacher index page*/
.TeacherLink:hover {
    color: black;
    text-decoration: none;
}
    /*teacher index page*/
.TeacherLinkIcon {
    color: black;
    text-decoration: none;
}
    /*teacher index page*/
.TeacherLinkIcon:hover {
    color: white;
}
    /*teacher index page*/
.TeacherListTable{
    background-color: lightgray;
    margin-top:21px;
}
    /*teacher index page*/
.CreateButton{
    align-items:center;
    justify-content:center;
    height:110px;
    text-align:center;
    background-color:lightgray;
    color:black;
    width:inherit;
}
.CreateButton:hover {
    background-color: dimgray;
    color: black;
    text-decoration: none;
}

.course-module {
    color: white;
    border:1px solid #2a6fa8; 
    border-radius:5px; 
    margin:0 10px; 
    background-color: #358fdc;
}

    .course-module h3{
        margin-top:20px;
        padding:0px;
    }

    .course-module p {
        margin-top: 15px;
    }

.module-accordion-heading:hover{
    cursor: pointer;
}
}
.modal-content {
    background-color:grey;
    width: 600px !important;
    margin: 30px auto !important;
}