@model LexiconLMSPortal.Models.ViewModels.ModulesViewModel
@{
    Layout = "";
}
<div id="ActivityListPartial">
    <table class="table">
    @foreach (var item in Model.Activities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
        </tr>
    }

    </table>
</div>