@model LexiconLMSPortal.Models.ViewModels.ModulesViewModel

<div>
    <table class="table table-hover"  id="StudentActivityList">
    @foreach (var item in Model.Activities) {
        <tr tooltip="@Html.DisplayFor(modelItem => item.Description)">
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
        </tr>
    }

    </table>
</div>