@model IEnumerable<LexiconLMSPortal.Models.ViewModels._StudentListPartial>
@{
    Layout = "";
}

<div id="StudentListPartial">
    <div class="UserList">
        <div>
            <div class="StudentListText UserListTop"style="font-weight:bold">Students</div>
        </div>
        <ul class="list-group StopRoundedBorders"id="StudentListTeacher">
            @foreach (var item in Model)
            {
                <li class="list-group-item UserListMainBody">
                    <div style="">@Html.DisplayFor(modelItem => item.FullName)</div>
                </li>
            }
        </ul>
    </div>
</div>