@model IEnumerable<LexiconLMSPortal.Models.ViewModels._StudentListPartial>
@{
    Layout = "";
}

<div id="StudentListPartial">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-size: 20px; display:block;">Students</div>
        </div>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div style="">@Html.DisplayFor(modelItem => item.FullName)</div>
                </li>
            }
        </ul>
    </div>
</div>