@model LexiconLMSPortal.Models.ViewModels._StudentListPartialContainer
@{
    Layout = "";
}

<div id="StudentListPartial">
    <div class="TeacherList">
        <div class="TeacherListTop">
            <div class="TeacherListText">Students</div>
            <div class="TeacherListTopButton"><a class="btn btn-default IndexCreateCourse" href="#TheModal" role="button" id="modalbtn" data-toggle="modal" data-url="@Url.Action("CreateStudent",new { id = Model.CourseId})"><span class="glyphicon glyphicon-plus-sign"></span> Student</a></div>
        </div>
        <ul class="list-group StopRoundedBorders">
            @foreach (var item in Model.Students)
            {
                <li class="list-group-item TeacherListMainBody">
                    <div class="TeacherListBottomLeft">@Html.DisplayFor(modelItem => item.FullName)</div>
                    <div class="TeacherListBottomRight">
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "EditStudent", id = item.Id })" class="ajax-link-edit TeacherLinkIcon" data-target="#EditStudentModal"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "DeleteStudent", id = item.Id })" class="ajax-link-remove TeacherLinkIcon" data-target="#DeleteStudentModal"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>