@model IEnumerable<LexiconLMSPortal.Models.ViewModels._TeacherListPartialModel>
@{
    Layout = "";
}

<div id="TeacherListPartial">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="float:left; font-size: 20px;">Teachers</div>
            <div style="text-align:right;"><a class="ajax-link btn btn-default" href="@Url.Action("AddTeacher", "Teacher")" data-target="#AddTeacherModal"><span class="glyphicon glyphicon-plus-sign"></span> Teacher</a></div>
        </div>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div style="float:left;">@Html.DisplayFor(modelItem => item.FullName)</div>
                    <div style="text-align:right">
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "EditTeacher", id = item.Id })" class="ajax-link-edit TeacherLinkIcon" data-target="#EditTeacherModal"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "DeleteTeacher", id = item.Id })" class="ajax-link-remove TeacherLinkIcon" data-target="#DeleteTeacherModal"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>