@model IEnumerable<LexiconLMSPortal.Models.ViewModels._TeacherListPartialModel>
@{
    Layout = "";
}

<div id="TeacherListPartial">
    <div class="UserList">
        <div>
            <div class="UserListText">Teachers</div>
            <div class="UserListTopButton"><a class="ajax-link btn btn-default ListCreateButton" href="@Url.Action("AddTeacher", "Teacher")" data-target="#AddTeacherModal"><span class="glyphicon glyphicon-plus-sign"></span> Teacher</a></div>
        </div>
        <ul class="list-group StopRoundedBorders">
            @foreach (var item in Model)
            {
                <li class="list-group-item UserListMainBody">
                    <div class="UserListBottomLeft">@Html.DisplayFor(modelItem => item.FullName)</div>
                    <div class="UserListBottomRight">
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "EditTeacher", id = item.Id })" class="ajax-link TeacherLinkIcon" data-target="#EditTeacherModal"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                        <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "DeleteTeacher", id = item.Id })" class="ajax-link TeacherLinkIcon" data-target="#DeleteTeacherModal"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>