@model LexiconLMSPortal.Models.ViewModels._TeacherListPartialModel

@{
    ViewBag.Title = "Delete Teacher";
    Layout = "";
}

<!-- Large modal -->
<div data-toggle="modal" data-target="#DeleteTeacherModal">
    <a href="@Url.Action("DeleteTeacher", "Teacher", Model)" class="TeacherLinkIcon">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </a>
</div>

<div id="DeleteTeacherModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteTeacherModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Delete teacher</h4>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete this Teacher?</p>
                <p>@Model.FullName</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>

        </div>
    </div>
</div>