@model IEnumerable<LexiconLMSPortal.Models.ViewModels._StudentListPartial>

@{
    ViewBag.Title = "FullStudentList";
}

<div>
    <div class="row ListRow" style="margin-top: 2%">
        <div class="col-md-5 ListModulNameHead">
            <h2>Student List</h2>
        </div>
        <div class="col-md-7 ListDateED"></div>
    </div>
    @Html.Action("_FullStudentListPartial", "Teacher")
</div>
