@{
    ViewBag.Title = "Index";
}

@*Creates the course list with a partialview*@
<div class="row" style="margin-top:20px;">
    <div  class="col-xs-7">
        <div class="panel-default TeacherIndexBlock">
            <div class="panel-body">
                <div style="margin-bottom:5px;">
                    <div style="float:right; margin-top:5px;"><a class="ajax-link btn btn-default IndexCreateCourse" href="@Url.Action("CreateCourse","Teacher")" data-target="#CreateCourse"><span class="glyphicon glyphicon-plus-sign"></span> Course</a></div>
                    <div><h1 style="margin-top:10px;">Courses</h1></div>
                </div>
                @Html.Action("CourseListView", "Teacher")
            </div>
        </div>
    </div>
    @*Creates the teacher list with a partialview*@
    <div id="TList" class=" col-sm-push-1 col-xs-4 col-sm-3">
        @Html.Action("_TeacherListPartial", "Teacher")
    </div>
</div>

<!--Modals-->
<div id="AddTeacherModal"></div>
<div id="EditTeacherModal"></div>
<div id="DeleteTeacherModal"></div>
<div id="CreateCourse"></div>
<div id="EditCourseModal"></div>
<div id="DeleteCourseModal"></div>

